# uruk.service - uruk systemd service file
# to be installed as /lib/systemd/system/uruk.service

# https://wiki.debian.org/Teams/pkg-systemd/rcSMigration :
#  _Your service is needed to configure firewalls or network interfaces_
#  If you need to configure firewalls, network interfaces, or anything else which
#  needs to happen before bringing up the first network interface, then you should
#  order the service as follows (eg, if you need to run before ifupdown/networkd):

[Unit]
Description=Uruk firewall service
DefaultDependencies=no
Wants=network-pre.target
Before=network-pre.target shutdown.target
Conflicts=shutdown.target
# FIXME actually do something
