# $Id: control,v 1.16 2009-06-22 05:56:04 joostvb Exp $
# $Source: /cvsroot/caspar/caspar/debian/control,v $
Source: caspar
Section: devel
Priority: optional
Maintainer: Joost van Baal <joostvb@debian.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.1
Homepage: http://mdcc.cx/caspar

Package: caspar
Architecture: all
Depends: make
Suggests: jade, jadetex, texlive-latex-base, texlive-base-bin, w3m, gs-common, psutils, lpr, gv | postscript-viewer, man-db, docbook-dsssl, perl, caspar-doc
Description: Makefile snippets for common tasks
 Caspar offers Makefile snippets for tasks like installing files you maintain
 using a version control system, or typesetting documents in some markup
 language.
 .
 If you need to maintain and distribute lots of files (system configuration
 files for Unix hosts using a version control system, e.g.), caspar is likely
 useful for you.
 .
 If you write documents in a markup language like LaTeX, DocBook
 XML, DocBook SGML or POD, and want to automate the typesetting, you'll
 like caspar.  Install all suggested packages if you'd like to use this
 typesetting functionality (or pick the suitable ones from the list of
 suggested packages).
 .
 It's not strictly necessary to know how to write Makefiles when using caspar.

Package: caspar-doc
Architecture: all
Section: doc
Suggests: caspar
Description: documentation for caspar
 Caspar offers Makefile snippets for common tasks, like installing (system
 configuration) files or typesetting documentation.
 .
 This package contains the caspar manpages and other documentation.
